{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image:url('{% static 'images/video.png' %}');>
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <h1 class="text-white" style="font-weight: 900;font-size: 60px;">ABOUT US</h1>
      </div>
    </div>
  </section>
<br>

<section class="ftco-section ftco-no-pt ftc-no-pb">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-12 wrap-about py-5 pr-md-4 ftco-animate">
        <h2 class="mb-4">Mar Ivanios Bethany Public School, Chettukuzhy</h2>
        <p>Mar Ivanios School had a very humble beginning in 2003 with a fifty of tiny tots in a room attached to Bethany Convent, Chettukuzhy, Idukki. It is run by the sisters of the Imitation of Christ, the Religious Community founded by the late Mar Ivanios of Bethany. The school management eanestly desires and works to create a family atmosphere in the human society without any distinction of caste and creed. The school has a great vision. We are guided by sublime principles of genuine education, co-education, comprehensive curriculum, modern approaches in education and development of the individual, family and society etc.. are the basic thrust of the school.</p>
      </div>
    </div>
  </div>
</section>


<script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js/scrollax.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{% static 'js/google-map.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

{% endblock content %}
