{% extends "admin1/admin_base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Staffs</title>
</head>
<body>
    <h2 class="mx-5 my-5">New Staff Registration</h2> 
    <div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
</body>
</html>
{% endblock %}