{% extends "admin1/admin_base.html" %}
{% load static %}
{% block content %}

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />

<style>
    body {
    margin: 0;
    padding: 0;
}

.portfolio-menu {
    text-align: center;
}

.portfolio-menu ul li {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.portfolio-item .item {
    position: relative;
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
}

.portfolio-item .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.portfolio-item .item .image-container {
    position: relative;
}

.portfolio-item .item .delete-icon {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
    color: white;
    background-color:rgba(225, 20, 20, 0.608);
    text-align: center;
    padding: 20px;
    cursor: pointer;
    text-transform: uppercase;
    box-sizing: border-box;
}

.portfolio-item .item:hover .delete-icon {
    display: block;
}

.hidden {
    display: none;
}

@media (min-width: 576px) {
    .portfolio-item .item {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .portfolio-item .item {
        width: 33.33%;
    }
}

@media (min-width: 992px) {
    .portfolio-item .item {
        width: 25%;
    }
}

</style>


</br>
<div class="container">
    <div class="row">
        <div class="col-4" style="margin-left: -50px;">
            <a href="{% url 'add_image' %}">
                <button class="btn btn-primary mx-5 my-5" style="width: 100%;">Add New Photos</button>
            </a>
        </div>
        <div class="col-4">
            <a href="{% url 'add_album' %}">
                <button class="btn btn-success mx-5 my-5" style="width: 100%;">Add New Album</button>
            </a>
        </div>
        <div class="col-4">
            <a href="{% url 'album_list' %}">
                <button class="btn btn-danger mx-5 my-5" style="width: 100%;">Delete Albums</button>
            </a>
        </div>
    </div>
    
    <div class="portfolio-menu mt-2 mb-4">
        <ul>
            <li class="btn btn-outline-dark active" data-filter="*">All</li>
            {% for album in albums %}
                <li class="btn btn-outline-dark" data-filter=".album{{ album.id }}">{{ album.title }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="portfolio-item row">
        {% for image in images %}
        <div class="item album{{ image.album.id }} col-lg-3 col-md-4 col-6 col-sm">
            <div class="image-container">
                <a href="{{ image.image.url }}" class="fancylight popup-btn" data-fancybox-group="light">
                    <img class="img-fluid" src="{{ image.image.url }}" alt="{{ image.title }}">
                </a>
                <a href="{% url 'delete_image' image.pk %}"><div class="delete-icon"><i class="fas fa-trash-alt"></i></div></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    $('.portfolio-menu ul li').click(function(){
        $('.portfolio-menu ul li').removeClass('active');
        $(this).addClass('active');

        var selector = $(this).attr('data-filter');
        $('.portfolio-item').isotope({
            filter: selector
        });
        return false;
    });

    $(document).ready(function() {
        var popup_btn = $('.popup-btn');
        popup_btn.magnificPopup({
            type : 'image',
            gallery : {
                enabled : true
            }
        });
    });
</script>

{% endblock content %}
